/* Reset default margin dan padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #7b7474;
    color: #333;
}

/* Gaya untuk header */
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Gaya untuk navigasi */
nav {
    margin: 10px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
}

/* Gaya untuk konten utama */
main {
    padding: 20px;
}

/* Gaya untuk artikel */
article {
    background: #ffffff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk footer */
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Gaya untuk responsif */
@media (max-width: 600px) {
    nav {
        display: block;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}
